<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Sport Agora - Eventos</title>
    <link rel="stylesheet" href="/css/adm/eventos.css">
    <link rel="icon" href="imagens/SportAgora.png">
    <!-- <script>
        function readImage() {
            const preview = document.getElementById("preview");

            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById("preview").src = e.target.result;
                };
                reader.readAsDataURL(this.files[0]);
            }
            
        }
        

        document.getElementById("img-input").addEventListener("change", readImage, false);
    </script> -->
    <style>
        .hidden {
          display: none;
        }
        #preview {
          max-width: 300px;
          max-height: 300px;
          margin-top: 10px;
        }
      </style>
    
</head>
<body>
    <%- include('../../partials/adm_navbar'); %>
    <main>
        <section class="insertTable">
            <section class="esporte">
                <h2>Esporte</h2>
                    <form action="/adm/apagar-esporte" method="POST">
                    <% if(dados.esportes && dados.esportes.length > 0) { %>
                        <% dados.esportes.forEach(function(a) { %>
                            <label class="esporteTopico"><%= a.esporte_nome %>
                                <input type="checkbox" name="esportesSelecionados[]" value="<%= a.esporte_id%>">
                                <span class="checkmark"></span>
                            </label>
                        <% }); %>
                      <% } else { %>
                        <tr>
                          <td colspan="5">Nenhum esporte encontrado.</td>
                        </tr>
                      <% } %>
                    
                    <input type="submit" class="esporte-btn-a" value="Apagar - ">
                    <hr>
                    </form> 
                    <form action="/adm/criar-esporte" method="POST">
                        <input type="text" name="novoEsporte" id="novoEsporte" placeholder="Adicione um Esporte" value="<%= dados.novoEsporte%>">
                    
                        <!-- botar imagem -->
                        <input type="file" id="img-input" accept="image/*" />
                        <br />
                        <!-- Preview da imagem -->
                        <img id="preview" class="hidden" src="" alt="preview" />
                        <script>
                            const input = document.getElementById('img-input');
                            const preview = document.getElementById('preview');
                        
                            input.addEventListener('change', () => {
                              const file = input.files[0];
                              if (file) {
                                const reader = new FileReader();
                        
                                reader.onload = function(e) {
                                  preview.src = e.target.result;
                                  preview.classList.remove('hidden');
                                }
                        
                                reader.readAsDataURL(file);
                              } else {
                                preview.src = '';
                                preview.classList.add('hidden');
                              }
                            });
                          </script>

                        <input type="submit" class="esporte-btn" value="Adicionar +">
                    </form>
            </section>
        </section>
        <section class="evento">
            <h2>Eventos</h2>
            <table class="evento-tabela">
                <thead>
                    <tr>
                        <th>Nome do Evento</th>
                        <th>Assunto</th>
                        <th>Categoria</th>
                        <th>Data incio</th>
                        <th>Horario</th>
                        <th>Data término</th>
                        <th>Descrição</th>            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                    </tr>
                    <tr>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly onclick="console.log(`gay`)"></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly onclick="window.location.href='descricaoEvento.html'"></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                    </tr>
                    <tr>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                    </tr>
                </tbody>
                
            </table>
            <button class="evento-btn">+ Novo Evento</button>
        </section>
    </main>
    <%- include('../../partials/adm_footer'); %>
</body>
</html>