<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Sport Agora - Eventos</title>
    <link rel="stylesheet" href="/css/adm/eventos.css">
    <link rel="icon" href="imagens/SportAgora.png">
</head>
<body>
    <%- include('../../partials/adm_navbar'); %>
    <main>
        <section class="insertTable">
            <section class="esporte">
                <h2>Esporte</h2>
                    <form action="/adm/apagar-esporte" method="POST">
                    <% if(dados.esportes && dados.esportes.length > 0) { %>
                        <% dados.esportes.forEach(function(a) { %>
                            <label class="esporteTopico"><%= a.esporte_nome %>
                                <input type="checkbox" name="esportesSelecionados[]" value="<%= a.esporte_id%>">
                                <span class="checkmark"></span>
                            </label>
                        <% }); %>
                      <% } else { %>
                        <tr>
                          <td colspan="5">Nenhum esporte encontrado.</td>
                        </tr>
                      <% } %>
                    
                    <input type="submit" class="esporte-btn-a" value="Apagar - ">
                    <hr>
                    </form> 
                    <form action="/adm/criar-esporte" method="POST">
                        <input type="text" name="novoEsporte" id="novoEsporte" placeholder="Adicione um Esporte" value="<%= dados.novoEsporte%>">
                        <input type="submit" class="esporte-btn" value="Adicionar +">
                    </form>
            </section>
        </section>
        <section class="evento">
            <h2>Eventos</h2>
            <table class="evento-tabela">
                <thead>
                    <tr>
                        <th>Nome do Evento</th>
                        <th>Assunto</th>
                        <th>Categoria</th>
                        <th>Data incio</th>
                        <th>Horario</th>
                        <th>Data término</th>
                        <th>Descrição</th>            
                    </tr>
                </thead>
                <tbody>
                    <% if (dados.eventos && dados.eventos.length > 0) { %>
                      <% dados.eventos.forEach(function(evento) { %>
                        <tr>
                          <td class="limite">
                            <a href="/evento?id=<%= evento.evento_id %>"><%= evento.evento_nome %></a>
                          </td>
                          <td class="limite"><%= evento.evento_nome %></td>
                          <td class="limite"><%= evento.esporte_id %></td>
                          <td class="limite"><%= new Date(evento.evento_data_inicio).toLocaleDateString("pt-BR") %></td>
                          <td class="limite"><%= new Date(evento.evento_data_hora).toLocaleTimeString("pt-BR", { hour: '2-digit', minute: '2-digit' }) %></td>
                          <td class="limite"><%= new Date(evento.evento_data_fim).toLocaleDateString("pt-BR") %></td>
                          <td class="limite"><%= evento.evento_descricao.length > 80 ? evento.evento_descricao.substring(0, 80) + '...' : evento.evento_descricao %></td>
                        </tr>
                      <% }); %>
                    <% } else { %>
                      <tr><td colspan="7">Nenhum evento encontrado.</td></tr>
                    <% } %>
                  </tbody>
                  
                
            </table>
        </section>
    </main>
    <%- include('../../partials/adm_footer'); %>
</body>
</html>