<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Sport Agora - Eventos</title>
    <link rel="stylesheet" href="/css/adm/eventos.css">
    <link rel="icon" href="imagens/SportAgora.png">
    <script src="/js/notify.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <!-- <script>
        function readImage() {
            const preview = document.getElementById("preview");

            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById("preview").src = e.target.result;
                };
                reader.readAsDataURL(this.files[0]);
            }
            
        }
        

        document.getElementById("img-input").addEventListener("change", readImage, false);
    </script> -->
    <style>
        .hidden {
          display: none;
        }
        #preview {
          max-width: 300px;
          max-height: 300px;
          margin-top: 10px;
        }
      </style>
    
</head>
<body>
    <%- include('../../partials/adm_navbar'); %>
    <% if (dadosNotificacao) { %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "right bottom")               
        </script>
    <% } %>
    <main>
        <section class="insertTable">
            <section class="esporte">
                <h2>Esporte</h2>
                    <form action="/adm/apagar-esporte" method="POST">
                    <% if(dados.esportes && dados.esportes.length > 0) { %>
                        <% dados.esportes.forEach(function(a) { %>
                            <label class="esporteTopico"><%= a.esporte_nome %>
                                <input type="checkbox" name="esportesSelecionados[]" value="<%= a.esporte_id%>">
                                <span class="checkmark"></span>
                            </label>
                        <% }); %>
                      <% } else { %>
                        <tr>
                          <td colspan="5">Nenhum esporte encontrado.</td>
                        </tr>
                      <% } %>
                    
                    <input type="submit" class="esporte-btn-a" value="Apagar - ">
                    <hr>
                    </form> 
                    <form action="/adm/criar-esporte" method="POST" enctype="multipart/form-data">
                        <input type="text" name="novoEsporte" id="novoEsporte" placeholder="Adicione um Esporte" value="<%= dados.novoEsporte%>">
                    
                        <!-- botar imagem -->
                        <input type="file" id="img-input" accept="image/*"  name="foto"/>
                        <br />
                        <!-- Preview da imagem -->
                        <img id="preview" class="hidden" src="" alt="preview" />

                        <hr>

                        <!-- botar imagem -->
                        <input type="file" id="img-input2" accept="image/*"  name="foto2"/>
                        <br />
                        <!-- Preview da imagem -->
                        <img id="preview2" class="hidden" src="" alt="preview2" />
                        <script>
                            const input = document.getElementById('img-input');
                            const preview = document.getElementById('preview');
                        
                            input.addEventListener('change', () => {
                              const file = input.files[0];
                              if (file) {
                                const reader = new FileReader();
                        
                                reader.onload = function(e) {
                                  preview.src = e.target.result;
                                  preview.classList.remove('hidden');
                                }
                        
                                reader.readAsDataURL(file);
                              } else {
                                preview.src = '';
                                preview.classList.add('hidden');
                              }
                            });

                            const input2 = document.getElementById('img-input2');
                            const preview2 = document.getElementById('preview2');
                        
                            input2.addEventListener('change', () => {
                              const file = input2.files[0];
                              if (file) {
                                const reader = new FileReader();
                        
                                reader.onload = function(e) {
                                  preview2.src = e.target.result;
                                  preview2.classList.remove('hidden');
                                }
                        
                                reader.readAsDataURL(file);
                              } else {
                                preview2.src = '';
                                preview2.classList.add('hidden');
                              }
                            });
                          </script>

                        <input type="submit" class="esporte-btn" value="Adicionar +">
                    </form>
            </section>
        </section>
        <section class="evento">
            <h2>Eventos</h2>
            <table class="evento-tabela">
                <thead>
                    <tr>
                        <th>Nome do Evento</th>
                        <th>Categoria</th>
                        <th>Data incio</th>
                        <th>Horario</th>
                        <th>Data término</th>
                        <th>Descrição</th>     
                        <th>Denúncias</th>       
                    </tr>
                </thead>
                <tbody>
                    <% if (dados.eventos && dados.eventos.length > 0) { %>
                      <% dados.eventos.forEach(function(evento) { %>
                        <tr>
                          <td class="limite">
                            <a href="/evento?id=<%= evento.evento_id %>"><%= evento.evento_nome %></a>
                          </td>
                          <td class="limite"><%= evento.esporte_nome %></td>
                          <td class="limite"><%= new Date(evento.evento_data_inicio).toLocaleDateString("pt-BR") %></td>
                          <td class="limite"><%= new Date(evento.evento_data_hora).toLocaleTimeString("pt-BR", { hour: '2-digit', minute: '2-digit' }) %></td>
                          <td class="limite"><%= new Date(evento.evento_data_fim).toLocaleDateString("pt-BR") %></td>
                          <td class="limite"><%= evento.evento_descricao.length > 80 ? evento.evento_descricao.substring(0, 80) + '...' : evento.evento_descricao %></td>
                          <td class="limite"><%= evento.denuncias_count %></td>
                        </tr>
                      <% }); %>
                    <% } else { %>
                      <tr><td colspan="7">Nenhum evento encontrado.</td></tr>
                    <% } %>
                  </tbody>
                  
                
            </table>
        </section>
    </main>
    <%- include('../../partials/adm_footer'); %>
</body>
</html>