<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Usuario</title>
    <link rel="stylesheet" href="/css/adm/novousuario.css">
    <link rel="stylesheet" href="/css/adm/styles.css">
    <link rel="stylesheet" href="/css/erro.css">
    <link rel="icon" href="/imagens/SportAgora.png">

</head>
<body>
    <%- include('../../partials/adm_navbar'); %>
    <%
    let  erroValidacao =  {"nome":"","email":"", "repsenha":"","senha":""};
    let  msgErro =  {"nome":"","email":"","repsenha":"","senha":""};
    if(erros) {
        erros.errors.forEach(function(erro) {
            if (erro.path == "nome") {
                erroValidacao.nome = "erro",
                msgErro.nome = erro.msg
            }
            if (erro.path == "email") {
                erroValidacao.email = "erro",
                msgErro.email = erro.msg
            }
            if (erro.path == "repsenha") {
                erroValidacao.repsenha = "erro",
                msgErro.repsenha = erro.msg
            }
            if (erro.path == "senha") {
                erroValidacao.senha = "erro",
                msgErro.senha = erro.msg
            }
        })
    }; %>
    <main>
        <form id="formulario-usuario" method="post" action="/adm/novousuario">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" value="<%=dados.nome%>" class="<%= erroValidacao.nome %>" required>
            <span class="spanerro"><%= msgErro.nome %></span><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%=dados.email%>" class="<%= erroValidacao.email %>" required>
            <span class="spanerro"><%= msgErro.email %></span><br>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" value="<%=dados.senha%>" class="<%= erroValidacao.senha %>" required>
            <span class="spanerro"><%= msgErro.senha %></span><br>

            <label for="repsenha">Confirmar Senha:</label>
            <input type="password" id="repsenha" name="repsenha" value="<%=dados.repsenha%>" class="<%= erroValidacao.repsenha %>" required>
            <span class="spanerro"><%= msgErro.repsenha %></span><br>

                <label for="tipoUsuario">Tipo de usuário:</label>
                <input type="radio" id="usuario1" name="tipo" value="comum" checked />
                <label for="usuario1">Comum</label>

                <input type="radio" id="usuario2" name="tipo" value="organizador" />
                <label for="usuario2">Sport+ Permanente</label>

                <input type="radio" id="usuario3" name="tipo" value="administrador" />
                <label for="usuario3">Administrador</label>

            <br><br>
            <button type="submit" class="enviar-btn">Registrar</button>
        </form>
    </main>
    <%- include('../../partials/adm_footer'); %>
</body>
</html>