<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Sport Agora </title>
    <link rel="stylesheet" href="/css/adm/styles.css">
    <link rel="stylesheet" href="/css/adm/sobre_usuarios.css">
    <link rel="icon" href="imagens/SportAgora.png">
    <link rel="icon" href="/imagens/SportAgora.png">
</head>
<body>
    <%- include('../../partials/adm_navbar'); %>
    <%console.log(usuario)%>
    <section class="container-ver-eventos">
            <button class="botao-seta" onclick="window.history.back()">
              <img src="/imagens/left-arrow.png" alt="Seta">
              <span class="ver-eventos">Voltar</span>
            </button>
    </section>
    <main class="mainsobreuso">
        <section class="infoUSO">
            <p><%=usuario.usu_nome%></p>
            <img src="/<%=usuario.usu_foto%>" alt="Perfil Usuario">
            <h2>Sobre</h2>
            <section class="descricao">
                <h3>Plano do Usuario</h3>
                <p><%-usuario.tipo%></p>

                <h3>Email do Usuario</h3>
                <p><%-usuario.usu_email%></p>
            </section>
        </section>
        <section class="botoesHome">
            <section class="aaaaa">
                <h2>Informações</h2> 
                <a href="/evento?id=1<" id="aaa"><button class="btnver">Visualizar Perfil</button></a>
            </section>
            <table class="endereco-tabela">
                <thead>
                    <tr>
                        <th>Postagens</th>
                        <th>Ingressos</th>
                        <th>Eventos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= usuario.countPostagens %></td>
                        <td><%= usuario.countIngressos %></td>
                        <td><%= usuario.countEventos %></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <%- include('../../partials/adm_footer'); %>
</body>
</html>