<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Sport Agora </title>
    <link rel="stylesheet" href="/css/adm/styles.css">
    <link rel="stylesheet" href="/css/adm/solicitacao_local.css">
    <link rel="icon" href="imagens/SportAgora.png">
    <link rel="icon" href="/imagens/SportAgora.png">
</head>
<body>
    <%- include('../../partials/adm_navbar'); %>
    <main>
        <section class="logo-area">
            <h1 class="tituloLogo">Solicitações de Locais</h1>
        </section>
        <form action="" method="post" class="buscarUso">
            <h3>Pesquisar Locais</h3>
            <aside class="imputis">
                <input type="text" name="pesquisa" value="" placeholder="Locais solicitados">
                <button type="submit" class="btnBuscar">Buscar</button>
            </aside>
        </form>
        <section class="locais">
  <h2>Locais Recebidos</h2>
  <table class="locais-tabela">
      <thead>
          <tr>
              <th>Usuario</th>
              <th>Nome do Local</th>
              <th>Endereço</th>
              <th>Esporte</th>
              <th>Link Google Maps</th>
          </tr>
      </thead>
      <tbody>
        <% if(solicitacoes.length > 0){ %>
          <% solicitacoes.forEach(solicitacao => { %>
            <tr>
              <td class="limite"><%= solicitacao.usuario_id %></td>
              <td class="limite"><%= solicitacao.solicitacao_nome %></td>
              <td class="limite"><%= solicitacao.solicitacao_endereco %></td>
              <td class="limite">
                <% if(solicitacao.esportes && solicitacao.esportes.length > 0){ %>
                  <% solicitacao.esportes.forEach((e, index) => { %>
                    <%= e.nome %><%= index < solicitacao.esportes.length - 1 ? ', ' : '' %>
                  <% }) %>
                <% } else { %>
                  Nenhum
                <% } %>
              </td>
              <td class="limite">
                <a href="<%= solicitacao.solicitacao_link %>" target="_blank">Abrir no Maps</a>
              </td>
            </tr>
          <% }) %>
        <% } else { %>
          <tr>
            <td colspan="5">Nenhuma solicitação encontrada</td>
          </tr>
        <% } %>
      </tbody>
  </table>
  <a href="/"><button class="locais-btn">+ Novo Local</button></a>
</section>

    </main>
    <%- include('../../partials/adm_footer'); %>
</body>
</html>