<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Sport Agora</title>
    <link rel="stylesheet" href="/css/adm/styles.css">
    <link rel="stylesheet" href="/css/adm/usuarios.css">
    <link rel="stylesheet" href="/css/adm/buscarUsuario.css">
    <link rel="icon" href="/imagens/SportAgora.png">
    <script>
        function apagar() {
            alert("Em manutenção!");
        }
    </script>
</head>
<body>
    <%- include('../../partials/adm_navbar'); %>
    <main>
            <section>
                <form action="/adm/buscar_usuario" method="post" class="buscarUso">
                    <h3>Pesquisar Usuarios</h3>
                    <aside class="imputis">
                        <input type="text" name="pesquisa" value="<%=pesquisa%>" placeholder="Nome de usuario"/>
                        <button type="submit" class="btnBuscar">Buscar</button>
                    </aside>
                </form>
            </section>
        <section class="endereco">
            <h2>Usuarios</h2>
            <table class="endereco-tabela">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Tipo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td>GABRIEL</td>
                        <td>gabriel@email.com</td>
                        <td>Comum</td>
                        <td><button onclick="apagar()">Apagar</button></td>
                        <td><button onclick="apagar()">Penalizar</button></td> -->
                    </tr>
                    <% if(usuarios) { %>
                        <% usuarios.forEach(function(u) { %>
                          <tr>
                            <td><%= u.usu_nome %></td>
                            <td><%= u.usu_email %></td>
                            <td><% if (u.tipo == "comum") {%>
                                Comum
                                <%} else if (u.tipo == "administrador") {%>
                                Administrador
                                <%} else {%>
                                Organizador
                                <%}%>
                                </td>
                                <td>
                                    <form action="/adm/usuarios/<%= u.usu_id %>" method="POST" onsubmit="return confirm('Deseja realmente excluir este usuário?');">
                                    <button type="submit"class="excluir">Excluir</button>
                                  </form>
                                </td>
                                <td><button onclick="apagar()">Penalizar</button></td>
                          </tr>
                        <% }); %>
                      <% } else { %>
                        <tr>
                          <td colspan="5">Nenhum registro encontrado.</td>
                        </tr>
                      <% } %>
                </tbody>
            </table>
            <a href="novousuario"><button class="endereco-btn">+ Novo Usuario</button></a>
            </button>
        </section>
        
    </main>
    <%- include('../../partials/adm_footer'); %>
</body>
</html>