<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Evento</title>
    <link rel="stylesheet" href="/css/organizador.css">
    <!-- <link rel="stylesheet" href="/css/sobreEvento.css"> -->
    <!-- <link rel="stylesheet" href="/css/criar-evento.css"> -->
    <link rel="stylesheet" href="/css/editar-evento.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <link rel="icon" href="imagens/SportAgora.png">
    <script>
      //não é erro, é só o leitor ejs que tá bugado
      const ingressos = <%- JSON.stringify(dados.ingressos) %>;
    </script>
</head>
<body>
 <header>
    <%- include('../partials/navbar'); %> 
    </header> 
      <section class="event-container">
        <h1 class="event-title">Editar Evento</h1>
      </section>
    <main class="main_sobreEvento"> 
        <form id="evento-form" method="POST" action="#">
        <section class="box-esquerda">
          <section class="container">
            <h1>Sobre o Evento</h1>
            <aside>
                <section class="enventoimg-container">
                    <figure class="enventoimg-overlay">
                          <img src="<%=dados.evento_foto%>" alt="imagem Evento" id="">
                        <figcaption class="icon-overlay" id="editevento">
                            <img src="imagens/Logoz-_3_ (1).png" alt="Editar Evento">
                        </figcaption>
                    </figure>
            </aside>
          </section>

            <!-- PRO CERRI!!!
            quando for fazer o back dessa pag, c arruma os placeholder q tem q ser value puxando do BD -->
            <input type="hidden" name="descricao" id="descricao" value="<%= dados.evento_descricao || '' %>">
            <section id="form-evento" class="form active">
                <section class="container">
                <h1>Editar Descrição</h1>
                <label>Descrição do evento *</label>
                <p class="subtitle">Conte todos os detalhes do seu evento, como a programação e os diferenciais da sua produção!</p>
        
                <section id="editor-container">
                  <section id="toolbar">
                    <span class="ql-formats">
                      <select class="ql-font"></select>
                      <select class="ql-size"></select>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-bold"></button>
                      <button class="ql-italic"></button>
                      <button class="ql-underline"></button>
                      <button class="ql-strike"></button>
                    </span>
                    <span class="ql-formats">
                      <select class="ql-color"></select>
                      <select class="ql-background"></select>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-list" value="ordered"></button>
                      <button class="ql-list" value="bullet"></button>
                      <button class="ql-indent" value="-1"></button>
                      <button class="ql-indent" value="+1"></button>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-link"></button>
                      <button class="ql-image"></button>
                      <button class="ql-video"></button>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-clean"></button>
                    </span>
                  </section>
        
                  <section id="editor" style="height: 300px;"></section>
                </section>
              </section>
              <section class="container">
                <h1>Editar Ingressos</h1>
        <p>Que tipo de ingresso você deseja criar?</p>

        <label>Nome do ingresso</label>
        <input type="text" id="nome-ingresso">

        <label>Valor</label>
        <input type="number" id="valor-ingresso" step="0.01">

        <label>Quantidade</label>
        <input type="number" id="quantidade-ingresso" step="1" min="1"> 

        <button type="button" id="meia-entrada" class="meia-btn">Adicionar meia-entrada</button>
        <button type="button" id="publicar-ingresso" class="public-btn">Publicar ingresso</button>

        <table id="ingresso-tabela">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Valor</th>
              <th>Quantidade</th>
              <th>Meia-entrada</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>

        
      </section>

            </section>
        </section>
        <section class="box-direita" id="box-direita">
                <section class="infodadosEvento">
                    <h1>Editar Nome</h1>
                    <label>Nome do evento *</label>
                    <input type="text" name="nome" id="nome" maxlength="100" value="<%=dados.evento_nome%>" placeholder="<%=dados.evento_nome%>" >
                    <label>Classifique seu evento</label>
                    <article class="classification">
                      <section>
                        <label>Esporte *</label>
                        <select name = "esporte" id = "esporte" >
                          <% if(esporte) { %>
                                    <% esporte.forEach(function(a) { %>
                                        <option value="<%= a.esporte_id%>"><%= a.esporte_nome %></option>
                                    <% }); %>
                                  <% } else { %>
                                    <option value="" disabled selected>Nenhuma opção</option>
                                  <% } %>
                        </select>
                      </section>
                    </article>
                </section>
                <section class="container">
                  <article class="datetime">
                    <h1>Editar Data</h1>
                    <legend class="visually-hidden">Data e horário do evento</legend>
                    <%
                      let data = new Date(dados.evento_data_hora);
                      let dia = String(data.getDate()).padStart(2, '0');
                      let mes = String(data.getMonth() + 1).padStart(2, '0'); 
                      let ano = data.getFullYear();
                      let dataFormatada = `${ano}-${mes}-${dia}`;
                      let hora = String(data.getHours()).padStart(2, '0');
                      let minutos = String(data.getMinutes()).padStart(2, '0');
                      let horaMinuto = `${hora}:${minutos}`; 
                      %>
                    <section>
                      <label>Data de início *</label>
                      <input name="data" type="date" value="<%=dataFormatada%>" >
                    </section>

                    <section>
                      <label>Horário de início *</label>
                      <input name="hora" type="time" value="<%=horaMinuto%>">
                    </section>
                    <%
                      let inscdata = new Date(dados.evento_data_inicio);
                      let inscdia = String(inscdata.getDate()).padStart(2, '0');
                      let inscmes = String(inscdata.getMonth() + 1).padStart(2, '0'); 
                      let inscano = inscdata.getFullYear();
                      let inscdataFormatada = `${inscano}-${inscmes}-${inscdia}`;
                      let inschora = String(inscdata.getHours()).padStart(2, '0');
                      let inscminutos = String(inscdata.getMinutes()).padStart(2, '0');
                      let inschoraMinuto = `${inschora}:${inscminutos}`; 
                      %>
                    <section>
                      <label>Início do periodo de inscrição*</label>
                      <input name="data_inicio" type="date" value="<%=inscdataFormatada%>" >
                    </section>

                    <section>
                      <label>Hora inicial do periodo de inscrição*</label>
                      <input name="hora_inicio" type="time" value="<%=inschoraMinuto%>" >
                    </section>
                    <%
                      let fimdata = new Date(dados.evento_data_fim);
                      let fimdia = String(fimdata.getDate()).padStart(2, '0');
                      let fimmes = String(fimdata.getMonth() + 1).padStart(2, '0'); 
                      let fimano = fimdata.getFullYear();
                      let fimdataFormatada = `${fimano}-${fimmes}-${fimdia}`;
                      let fimhora = String(fimdata.getHours()).padStart(2, '0');
                      let fimminutos = String(fimdata.getMinutes()).padStart(2, '0');
                      let fimhoraMinuto = `${fimhora}:${fimminutos}`; 
                      %>
                    <section>
                      <label>Final do periodo de inscrição*</label>
                      <input name="data_final" type="date" value="<%=fimdataFormatada%>" >
                    </section>

                    <section>
                      <label>Hora final do periodo de inscrição*</label>
                      <input name="hora_final" type="time" value="<%=fimhoraMinuto%>" >
                    </section>
                  </article>
                </section>
                <article class="location-fields">

                  <section class="container">
                    <h1>Editar Localização</h1>
          <legend class="visually-hidden">Localização do evento</legend>

          <label>CEP</label>
            <input type="text" id="cep" name="cep" value="<%=dados.evento_endereco_cep%>" placeholder="<%=dados.evento_endereco_cep%>">

            <div id="spinner" style="display:none; font-size:.9rem;">Buscando CEP…</div>

            <label>Rua</label>
            <input type="text" id="rua" name="rua" value="<%=dados.logradouro%>" readonly>

            <label>Número</label>
            <input type="text" id="numero" name="numero" value="<%=dados.evento_endereco_numero%>" placeholder="<%=dados.evento_endereco_numero%>">

            <label>Complemento</label>
            <input type="text" id="complemento" name="complemento" value="<%=dados.evento_endereco_complemento%>" placeholder="<%=dados.evento_endereco_complemento%>">

            <label>Bairro</label>
            <input type="text" id="bairro" name="bairro" value="<%=dados.bairro%>" readonly>

            <label>Cidade</label>
            <input type="text" id="cidade" name="cidade" value="<%=dados.cidade%>" readonly>

            <label>Estado</label>
            <input type="text" id="estado" name="estado" value="<%=dados.estado%>" readonly>
        </article>
      </section>                  
    </main>
    <section class="fim">
      <input type="submit" class="publicar-evento" value="Salvar Alterações">
  </form>
  <form method="POST" action="/apagar-evento?id=<%=dados.evento_id%>">
    <input type="submit" class="publicar-evento" value="Apagar Evento">
  </form>
  </section>
    
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script defer src="/js/editar-evento.js"></script>
    <%- include('../partials/footer'); %>
</body>
</html>
