<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações sobre o Evento</title>
    <link rel="stylesheet" href="/css/infoevento.css">
    <script src="js/ingressos-evento.js"></script>
    <link rel="stylesheet" href="/css/evento.css">
    <link rel="icon" href="imagens/SportAgora.png">
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
</head>
<body>
    <%- include('../partials/navbar'); %>

 <main class="aba-evento">
    <section class="aba-evento">
        <article class="container-ver-eventos">
            <button class="botao-seta" onclick="window.history.back()">
                <img src="/imagens/left-arrow.png" alt="Seta"> </button>
            <span class="ver-eventos">Ver todos os eventos</span>
        </article>

    <article class="banner-evento">
        <img src="<%= evento.evento_foto %>" alt="Banner do evento">
    </article>

    <section class="info-container">
        <section class="box-esquerda">
            <%-evento.evento_descricao%>
        </section>

        <section class="box-direita">
          <section class="abadicima">
            <article class="evento-status gratis"><%= evento.esporte %></article>
            <% if (usuario_dono == false) {  %>
            <button class="btn-denunciar" onclick="abrirModalDenuncia()">Denunciar</button>
            <% } else { %>
            <button class="btn-editar" onclick="location.href='/editar-evento?id=<%=evento.evento_id%>'">Editar</button>
            <%}%>
            </section>
            <h2 class="nome-evento"><%=evento.evento_nome%></h2>
            <hr class="linha-separadora">
            <%
            let data = new Date(evento.evento_data_hora);
            let dia = String(data.getDate()).padStart(2, '0');
            let mes = String(data.getMonth() + 1).padStart(2, '0'); 
            let ano = data.getFullYear();
            let dataFormatada = `${dia}/${mes}/${ano}`; 

            let datainscricao = new Date(evento.evento_data_fim);
            let diainscricao = String(data.getDate()).padStart(2, '0');
            let mesinscricao = String(data.getMonth() + 1).padStart(2, '0'); 
            let anoinscricao = data.getFullYear();
            let dataFormatadainscricao = `${dia}/${mes}/${ano}`; 
            let horainscricao = String(data.getHours()).padStart(2, '0');
            let minutosinscricao = String(data.getMinutes()).padStart(2, '0');
            let horaMinutoinscricao = `${horainscricao}:${minutosinscricao}`;
            %>
            <section class="detalhes-evento">
                <article class="data-evento">
                    <img src="/imagens/calendario.png" alt="Calendário">
                    <span><%=dataFormatada%></span>
                </article>
                <article class="local-evento">
                    <img src="/imagens/local.png" alt="Local">
                    <span><%=evento.logradouro%>, <%=evento.cidade%>, <%=evento.estado%></span>
                </article>
            </section>
            <hr class="linha-separadora">
            <p class="data-limite">Inscrições até: <%=dataFormatadainscricao%> <%=horaMinutoinscricao%> ou até o limite de vagas.</p>
            <% if (usuario_dono == false) {  %>
            <section class="ingressos-container">
            <section class="ingressos">
            <form method="POST" action="/inscricao-evento?id=<%=evento.evento_id%>" id="ingressos-form">
            <input type="hidden" name="ingressosSelecionados" id="ingressosSelecionados">
            <% if (evento.ingressos && evento.ingressos.length > 0) { %>
            <% evento.ingressos.forEach(ingresso => { %>
              <section class="ingresso-linha">
                <section class="info-ingresso">
                  <p class="nome-ingresso"><%= ingresso.ingresso_nome %></p>
                  <p class="tipo-ingresso"><%= ingresso.ingresso_meia == 0 ? "Inteira" : "Meia"%></p>
                </section>
                <section class="preco-ingresso">
                  <%= Number(ingresso.ingresso_valor).toLocaleString('pt-BR', {
                    style: 'currency',
                    currency: 'BRL'
                  }) %></section>
                <section class="controle-quantidade">
                  <button class="botao-controle" onclick="alterarQuantidade('<%= ingresso.ingresso_id %>_inteira', -1, event)">-</button>
                  <span id="quantidade-<%= ingresso.ingresso_id %>_inteira">0</span>
                  <button class="botao-controle" onclick="alterarQuantidade('<%= ingresso.ingresso_id %>_inteira', 1, event)">+</button>
                </section>
              </section>

                  <hr class="linha-separadora-ingresso">
                <% }) %>
              <% } else { %>
                <p>Nenhum ingresso disponível para este evento.</p>
              <% } %>
            </section>

              <section class="total-ingressos">
                Total: <span id="valor-total">R$ 00,00</span>
              </section>
            </section>
            <article class="botoes-inscricao">
                <button class="btn-fale-conosco">Fale conosco</button>
                <button id="btnInscrever" class="btn-inscrever-se" >Inscrever-se</button>
            </article>
            <% } %>
        </section>
    </section>
    </form>
</section>
    
    <section class="relacionado-eventos">
        
    </section>
    <section id="modal-denuncia" class="modal-denuncia">
      <aside class="modal-content-denuncia">
        <form method="POST" action="/denunciar-evento?id=<%=evento.evento_id%>" id="denuncia-form">
        <h2>Denunciar Evento</h2>
        <p>Tem certeza de que deseja denunciar este evento? Esta ação será analisada por nossa equipe.</p>
        <input type='text' id="denuncia_desc" name="denuncia_desc" value="" placeholder="Descreva o motivo da denúncia">
        <section class="modal-buttons">
          <button onclick="fecharModalDenuncia()" class="btn-cancelar">Cancelar</button>
          <button onclick="confirmarModalDenuncia() " class="btn-confirmar">Confirmar denúncia</button>
        </section>
        </form>
      </aside>
    </section>
</main>


<!-- responsividade da box direita -->

<%- include('../partials/footer'); %>
</body>
</html>
