<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natação Eventos</title>
    
    <link rel="stylesheet" href="/css/eventos.css">
    <link rel="stylesheet" href="/css/item-do-carrosel.css">
    <link rel="stylesheet" href="/css/carrosel.css">
    <link rel="stylesheet" href="/css/filtro-rapido.css">
    <script defer src="/js/carrossel.js"></script>
    <link rel="icon" href="imagens/SportAgora.png">
</head>

<body>
    <%- include('../partials/navbar'); %>


<section class="hero-section" style="background: url('<%=filtro_usado.esporte_banner%>') no-repeat center center/cover;">
    <article class="hero-content">
      <h1>O seu próximo evento de <br>
        <%=filtro_usado.esporte_nome%> está aqui
        </h1>
      <article class="underline"></article>
      <p>Confira a nossa seleção <br>
        de eventos incríveis</p>
    </article>
  </section>
  
    <!-- filtros -->

    <!-- <main class="filter-box">
        <section class="filter-item">
            <span class="filter-label">Filtrar</span>
        </section>
        <article class="separator"></article>
        <article class="filter-item">
            <span class="filter-text">Esporte</span>
            <select class="filter-select">
                <option>Futebol</option>
                <option>Basquete</option>
                <option>Vôlei</option>
            </select>
        </article>
        <article class="filter-item">
            <span class="filter-text">Estado</span>
            <select class="filter-select">
                <option>SP</option>
                <option>RJ</option>
                <option>BH</option>
            </select>
        </article>
        <article class="filter-item">
            <span class="filter-text">Cidade</span>
            <select class="filter-select">
                <option>Barueri</option>
                <option>Jandira</option>
                <option>Itapevi</option>
            </select>
        </article>
        <article class="filter-item">
            <span class="filter-text">Data do evento</span>
            <input type="date" class="filter-date">
        </article>
    </article>
</main> -->

<p class="event-filtros-p">Filtros rápidos</p>

    <!-- Carrosel -->

    <%- include('../partials/filtros') %>

<article class="carousel-title">Eventos Em Progresso</article>
<script defer src="/js/carrossel.js"></script>

<section class="evento-container">
    <% if(eventos_qtd > 0) { %>
    <% eventos.forEach(function(e) { 
      let data = new Date(e.evento_data_hora);
      let dia = String(data.getDate()).padStart(2, '0');
      let mes = String(data.getMonth() + 1).padStart(2, '0'); 
      let ano = data.getFullYear();
      let dataFormatada = `${dia}/${mes}/${ano}`;  
    %>
      <section class="evento-box">
      <img src="<%= e.evento_foto %>" alt="Imagem do Evento" class="evento-img">
      <article class="evento-status gratis"><%= filtro_usado.esporte_nome %></article>
      <h2 class="evento-nome"><%= e.evento_nome %></h2>
      <p class="evento-detalhes">  <%= e.cidade %>, <%= e.estado %><br><br><%= dataFormatada %></p>
      <button class="evento-btn" onclick="location.href='/evento?id=<%= e.evento_id %>'">Participar</button>
    </section>

    <% }); %>
    <% } else { %>
      <tr>
        <td colspan="5">Nenhum registro encontrado.</td>
      </tr>
    <% } %>
    <section class="paginacao">
    <% if (paginador.total_paginas > 1) { %>
      <section class="paginador-botoes">
        <% if (paginador.pagina_atual > 1) { %>
          <a href="/?pagina=<%= paginador.pagina_atual - 1 %>">&laquo; Anterior</a>
        <% } %>

        <% for (let i = 1; i <= paginador.total_paginas; i++) { %>
          <a href="/?pagina=<%= i %>"
            class="<%= i === paginador.pagina_atual ? 'ativo' : '' %>">
            <%= i %>
          </a>
        <% } %>

        <% if (paginador.pagina_atual < paginador.total_paginas) { %>
          <a href="/?pagina=<%= paginador.pagina_atual + 1 %>">Próxima &raquo;</a>
        <% } %>
      </section>
    <% } %>
    </section>
</section>


<%- include('../partials/footer'); %>

</body>