<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SportAgora</title>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script defer src="/js/script.js"></script>
        <link rel="icon" href="imagens/SportAgora.png">
        <link rel="stylesheet" href="/css/post.css">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="js/darkmodeswitch.js"></script>
    </head>

<body>
    <%- include('../partials/navbar'); %>

    <section class="hero-container">
        <a href="/infopost">
            <img src="/imagens/banner.jpg" alt="Banner" class="hero-banner">
        </a>
        <article class="post-box">
            <article class="post-left">
                <a href="/perfilex" class="user-link">
                    <img src="imagens/pessoa.png" alt="Foto do usuário" class="user-photo">
                </a>
                <article class="post-info">
                    <a href="/perfilex" class="user-name">Danzx</a>
                    <span class="post-time">3 horas atrás</span>
                </article>
            </article>
            <article class="post-center">
                <h1 class="post-title">As melhores jogadas de vôlei da história</h1>
                <p class="post-subtitle">Venha ver as melhores jogadas que já aconteceram no vôlei</p>
            </article>
            <article class="post-right">
                <article class="like-section">
                    <img class="coracao1" src="/imagens/coracao.png" alt="Coração Verde">
                    <span class="like-count">152,72 likes</span>
                </article>
            </article>
        </article>
    </section>

    <section class="post-section">
        <article class="post-header">
            <h2 class="post-title">Postagens</h2>
            
        </article>
    </section>
    
        <%- include('../partials/post'); %>
        <%- include('../partials/post'); %>
        <%- include('../partials/post'); %>
        <%- include('../partials/post'); %>

    <%- include('../partials/footer'); %>
</body>
</html>
