<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/imagens/SportAgora.png">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>SportAgora</title>
    
</head>
<body>
    <%- include('../partials/navbar'); %>

    <main>
    
    <div class="hero-container">
        <img src="/imagens/banner.jpg" alt="Banner Image" class="hero-banner">
        <div class="hero-content">
          <div class="user-info">
            <img src="/imagens/pessoa.png" alt="User Photo" class="user-photo">
            <span class="user-name">Nome do Usuário</span>
          </div>
          <h1 class="hero-title">Título do Hero</h1>
          <div class="like-info">
            <i class="heart-icon"></i>
            <span class="like-count">123</span>
          </div>
        </div>
      </div>

        <section>

            <section class="post-section">
                <div class="post-header">
                  <h2 class="post-title">Postagem</h2>
                  <input type="text" class="search-bar" placeholder="Pesquisar...">
                </div>
              </section>

        <%- include('../partials/post'); %>
        <%- include('../partials/post'); %>
        <%- include('../partials/post'); %>
        <%- include('../partials/post'); %>

        </section>

    </main>

    <%- include('../partials/footer'); %>

</body>

</html>
