<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/imagens/SportAgora.png">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>SportAgora</title>
    
</head>
<body>
    <%- include('../partials/navbar'); %>
    <main>
    <div class="hero-container">
      <a href="/infopost">
        <img  src="/imagens/banner.jpg" alt="Banner">
    </a>
        <div class="hero-content">
          <div class="user-info">
            <img src="/imagens/pessoa.png" alt="User Photo" class="user-photo">
            <a href="perfilex">Danzx</a>
          </div>
          <h1 class="hero-title">AS MELHORES JOGADAS DE VÔLEI QUE ACONTECERAM EM 2024</h1>
          <div class="likes">
            <span class="heart">&#10084;</span>
            <i class="letras-like"> 152.78 mil curtidas</i>
        </div>
          </div>  
        </div>
      </div>

        <section>

            <section class="post-section">
                <div class="post-header">
                  <h2 class="post-title">Postagem</h2>
                  <input type="text" class="search-bar" placeholder="Pesquisar...">
                </div>
              </section>

        <%- include('../partials/post'); %>
        <%- include('../partials/post'); %>
        <%- include('../partials/post'); %>
        <%- include('../partials/post'); %>

        </section>

    </main>

    <%- include('../partials/footer'); %>

</body>

</html>
