<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script defer src="/js/script.js"></script>
        <link rel="icon" href="imagens/SportAgora.png">
    </head>

<body>
    <%- include('../partials/navbar'); %>

    <section class="hero-container">
        <a href="/infopost">
            <img src="/imagens/banner.jpg" alt="Banner" class="hero-banner">
        </a>
        <article class="hero-content">
            <aside class="user-info1">
                <img src="/imagens/pessoa.png" alt="User Photo" class="user-photo">
                <aside class="user-details">
                    <a href="perfilex" class="user-name">Danzx</a>
                    <span class="post-time">3 horas atrás</span>
                </aside>
            </aside>
            <h1 class="hero-title">AS MELHORES JOGADAS DE VÔLEI QUE ACONTECERAM EM 2024</h1>
            <aside class="likes">
                <span class="heart-icon">&#10084;</span>
                <i class="letras-like">152.78 mil curtidas</i>
            </aside>
        </article>
    </section>

    <section class="post-section">
        <article class="post-header">
            <h2 class="post-title">Postagem</h2>
        </article>
    </section>
    
        <%- include('../partials/post'); %>
        <%- include('../partials/post'); %>
        <%- include('../partials/post'); %>
        <%- include('../partials/post'); %>

    <%- include('../partials/footer'); %>
</body>
</html>
