<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SportAgora</title>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/post.css">
        <link rel="stylesheet" href="/css/carrosel.css">
            <link rel="stylesheet" href="/css/eventos.css">
        <script src="js/darkmodeswitch.js"></script>
        <link rel="icon" href="imagens/SportAgora.png">
                <script src="js/carrossel-home.js"></script>
    </head>

<body>
    <%- include('../partials/navbar'); %>


    <section class="hero-container">
      <article class="post-box">
        
        <section class="carousel-home">
          <a id="carousel-link" href="/infopost">
            <article class="carousel-inner" id="carousel-inner"></article>
          </a>
          <button class="carousel-btn prev" onclick="mudarSlide(-1)">&#10094;</button>
          <button class="carousel-btn next" onclick="mudarSlide(1)">&#10095;</button>
        </section>
    

        <article class="post-center">
          <section class="carousel-indicators" id="carousel-indicators"></section>
          <a id="carousel-link" href="/infoevento">
            <h1 class="post-title" id="evento-titulo">Título do Evento</h1>
            <p class="post-subtitle">
              <i class="fi fi-rr-marker"></i>
              <span id="evento-local">Cidade - UF</span>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fi fi-rr-calendar"></i>
              <span id="evento-data">Data completa</span>
            </p>
          </a>
        </article>
    
      </article>
    </section>

    <main class="event-container">
    <h1 class="event-title">principais Eventos</h1>
    <p class="event-subtitle">Encontre os principais eventos de esportes para a sua região</p>
    </main>
    
    <!-- eventos -->

<!--  -->
    <section class="filter-box">
      <article class="filter-item">
          <span class="filter-label">Filtrar</span>
      </article>
      <article class="separator"></article>
      <article class="filter-item">
          <span class="filter-text">Esporte</span>
          <select class="filter-select">
              <option>Futebol</option>
              <option>Basquete</option>
              <option>Vôlei</option>
          </select>
      </article>
      <article class="filter-item">
          <span class="filter-text">Estado</span>
          <select class="filter-select">
              <option>SP</option>
              <option>RJ</option>
              <option>BH</option>
          </select>
      </article>
      <article class="filter-item">
          <span class="filter-text">Cidade</span>
          <select class="filter-select">
              <option>Barueri</option>
              <option>Jandira</option>
              <option>Itapevi</option>
          </select>
      </article>
      <article class="filter-item">
          <span class="filter-text">Data do evento</span>
          <input type="date" class="filter-date">
      </article>
  </section>

  <p class="event-filtros-p">Filtros rápidos</p>

  <!-- Carrosel -->
   <%- include('../partials/filtros') %>


  <article class="carousel-title">Eventos Em Progresso</article>
  <section class="container-eventos">
    <% if(eventos) { %>
    <% eventos.forEach(function(e) { 
      let data = new Date(e.evento_data_hora);
      let dia = String(data.getDate()).padStart(2, '0');
      let mes = String(data.getMonth() + 1).padStart(2, '0'); 
      let ano = data.getFullYear();
      let dataFormatada = `${dia}/${mes}/${ano}`;  
    %>
      <section class="evento-box">
      <img src="<%= e.evento_foto %>" alt="Imagem do Evento" class="evento-img">
      <article class="evento-status gratis">Grátis</article>
      <h2 class="evento-nome"><%= e.evento_nome %></h2>
      <p class="evento-detalhes">  <%= e.cidade %>, <%= e.estado %><br><br><%= dataFormatada %></p>
      <button class="evento-btn" onclick="location.href='/evento?id=<%= e.evento_id %>'">Participar</button>
    </section>

    <% }); %>
    <% } else { %>
      <tr>
        <td colspan="5">Nenhum registro encontrado.</td>
      </tr>
    <% } %>
</section>


    <%- include('../partials/footer'); %>
</body>
</html>
