<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/erro.css">
    <script src="/js/login.js" defer></script>
    <link rel="icon" href="imagens/SportAgora.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="/js/notify.js"></script>
</head>
<body>
    <%
    let  erroValidacao =  {"email":"", "senha":"" };
    let  msgErroPag =  {"email":"", "senha":"" };
    if(erros) {
        erros.errors.forEach(function(erro) {
            if (erro.path == "email") {
                erroValidacao.email = "erro"
                msgErroPag.email = erro.msg
            }
            if (erro.path == "senha") {
                erroValidacao.senha = "erro"
                msgErroPag.senha = erro.msg
            }
        })
    }; %>

    <%if (dadosNotificacao) { %>
            <script>
                    notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "right top")                    
            </script>
    <% } %>

    <header>
    <%- include('../partials/navbar'); %> 
    </header>
    <main class="main_login">  
        <img src='imagens/normal_u1.png' alt="pessoa" class="pessoa1">  <!-- pq q eu fiz uma class pra main sendo q ja é main? -->
        <section class="container5">
            <article class="buttonsForm">
                <h1>Bem-vindo de volta!</h1>
                <a href="/cadastro">Ainda não possuo uma conta</a>
                
            </article>

            <form id="signin" method="post" action="/login">
                <input type="email" placeholder="Email" name="email" id="email" value="<%= dados.email  %>" class="<%= erroValidacao.email %>"> 
                <span class="spanerro"><%= msgErroPag.email %></span><br>

                <input type="password" placeholder="Senha" name="senha" id="senha" value="<%= dados.senha  %>" class="<%= erroValidacao.senha %>"> 
                <button type="button" id="toggleSenha" class="toggle-senha-btn1" aria-label="Mostrar senha"><img src="imagens/aberto.png" width="20"></button>
                <span class="spanerro"><%= msgErroPag.senha %></span><br>

                <a href="/recuperar-senha">Esqueci a senha</a>

                <input type="submit" id="enviar_login" value="Conectar-se">
            </form>

            <section class="outras">
                <button type="submit" class="google" onclick="google()">
                    <img src='imagens/google.png' alt="Google">
                </button>
                <button type="submit" class="facebook" onclick="facebook()">
                    <img src='imagens/facebooklogoo.png' alt="facebook">
                </button>
                <button type="submit" class="apple" onclick="apple()">
                    <img src='imagens/apple.png' alt="apple">
                </button>
            </section>
        </section>  
        <img src='imagens/normal_u0.png' alt="pessooaaa" class="pessoa2">
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>
