<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/erro.css">
    <script src="/js/login.js" defer></script>
    <link rel="icon" href="imagens/SportAgora.png">
</head>
<body>
    <%
    let  erroValidacao =  {"email":"", "senha":"" };
    let  msgErro =  {"email":"", "senha":"" };
    if(erros) {
        erros.errors.forEach(function(erro) {
            if (erro.path == "email") {
                erroValidacao.email = "erro",
                msgErro.email = erro.msg
            }
            if (erro.path == "senha") {
                erroValidacao.senha = "erro",
                msgErro.senha = erro.msg
            }
        })
    }; %>

    <header>
    <%- include('../partials/navbar'); %> 
    </header>
    <main class="main_login">  
        <img src='imagens/normal_u1.png' alt="pessoa" class="pessoa1">  <!-- pq q eu fiz uma class pra main sendo q ja é main? -->
        <section class="container5">
            <article class="buttonsForm">
                <h1>Bem-vindo de volta!</h1>
                <a href="/cadastro">Ainda não possuo uma conta</a>
                
            </article>

            <form id="signin" method="post" action="/login">
                <input type="email" placeholder="Email" name="email" id="email" value="<%= dados.email  %>" class="<%= erroValidacao.email %>"> 
                <span class="spanerro"><%= msgErro.email %></span><br>

                <input type="password" placeholder="Senha" name="senha" id="senha" value="<%= dados.senha  %>" class="<%= erroValidacao.senha %>"> 
                <span class="spanerro"><%= msgErro.senha %></span><br>
                <a href="/recuperar-senha">Esqueci a senha</a>
                <article class="divCheck">
                <input type="checkbox" />
                <span>Lembre minha senha</span>
                </article>

                <input type="submit" id="enviar_login" value="Conectar-se">
            </form>

            <section class="outras">
                <button type="submit" class="google" onclick="google()">
                    <img src='imagens/google.png' alt="Google">
                </button>
                <button type="submit" class="facebook" onclick="facebook()">
                    <img src='imagens/facebooklogoo.png' alt="facebook">
                </button>
                <button type="submit" class="apple" onclick="apple()">
                    <img src='imagens/apple.png' alt="apple">
                </button>
            </section>
        </section>  
        <img src='imagens/normal_u0.png' alt="pessooaaa" class="pessoa2">
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>
