<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Eventos</title>
    <link rel="icon" href="imagens/SportAgora.png">
    <link rel="stylesheet" href="/css/meus-eventos.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/eventoUsuario.css">
    <link rel="stylesheet" href="/css/base.css">

    <script src="js/darkmodeswitch.js"></script>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <main>
        <section class="container-ver-eventos">
            <button class="botao-seta" onclick="window.history.back()">
              <img src="/imagens/left-arrow.png" alt="Seta">
            </button>
            <span class="ver-eventos">Voltar</span>
          </section>
        <section class="event-container">
            <h1 class="event-title">Meus Eventos</h1>
            <p class="event-subtitle">Acompanhe os eventos esportivos que você está organizando</p>
        </section>
        <section class="meio">
            <h3 class="title-subs">Eventos Em Progresso</h3>
            <button class="btn-criarevento" onclick="location.href='/planos'">Criar Evento</button>
        </section>
        <section class="ingressos-event">
            <section class="evento-container">
                <% if(eventos) { %>
                    <% eventos.forEach(function(e) { 
                      let data = new Date(e.evento_data_hora);
                      let dia = String(data.getDate()).padStart(2, '0');
                      let mes = String(data.getMonth() + 1).padStart(2, '0'); 
                      let ano = data.getFullYear();
                      let dataFormatada = `${dia}/${mes}/${ano}`;
                      let hora = String(data.getHours()).padStart(2, '0');
                      let minutos = String(data.getMinutes()).padStart(2, '0');
                      let horaMinuto = `${hora}:${minutos}`;
                    %>      
                    <article class="eventoInfo">
                        <img src="<%= e.evento_foto %>" alt="Imagem do Evento" class="evento-img">
                        <h2 class="evento-nome"><%= e.evento_nome %></h2>
                        <aside class="infoEvento">
                            <aside>
                                <i class="fi fi-rr-calendar"></i>
                                <span id="evento-data"><%= dataFormatada %> - <%= horaMinuto %> </span>
                            </aside>
                            <aside>
                                <i class="fi fi-rr-marker"></i>
                                <span id="evento-local"><%=e.cidade%>, <%=e.estado%></span>
                            </aside>
                        </aside>
                        <aside class="links">
                            <h3><a href="/editar-evento?id=<%=e.evento_id%>">Editar Evento</a></h3>
                        </aside>
                    </article>
                
                    <% }); %>
                    <% } else { %>
                      <tr>
                        <td colspan="5">Nenhum registro encontrado.</td>
                      </tr>
                    <% } %>
                
            </section>
        </section>
        <!-- <h3 class="title-subs">Eventos Finalizados</h3>
        <section class="ingressos-event">
            <%- include('../partials/eventoUsuario'); %>
            <%- include('../partials/eventoUsuario'); %>
            <%- include('../partials/eventoUsuario'); %> 
        </section>-->
    </main>
    
</body>
</html>