<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Agora</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/pagamento.css">
    <link rel="stylesheet" href="/css/erro.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="imagens/SportAgora.png">
    <script src="/js/pagamento.js"></script>
</head>
<body onload="start()">
    <%
    var cssErro = {"nome":"","sobrenome":"","cpf":"","cartao_numero":"","cartao_validade":"","cartao_cvv":""}  
    var msgErro = {"nome":"","sobrenome":"","cpf":"","cartao_numero":"","cartao_validade":"","cartao_cvv":""}
    if(erros) { 
     
    erros.errors.forEach(function(itemErro){
         if (itemErro.path  == "nome"){ 
            cssErro.nome = "erro";
            msgErro.nome = itemErro.msg;
        }  
         if (itemErro.path  == "sobrenome"){ 
            cssErro.sobrenome = "erro";
            msgErro.sobrenome = itemErro.msg;            
         }   
         if (itemErro.path  == "cpf"){
            cssErro.cpf = "erro";
            msgErro.cpf = itemErro.msg;                
         } 
         if (itemErro.path  == "cartao_numero"){
            cssErro.cartao_numero = "erro";
            msgErro.cartao_numero = itemErro.msg;                
         } 
         if (itemErro.path  == "cartao_validade"){
            cssErro.cartao_validade = "erro";
            msgErro.cartao_validade = itemErro.msg;                
         } 
         if (itemErro.path  == "cartao_cvv"){
            cssErro.cartao_cvv = "erro";
            msgErro.cartao_cvv = itemErro.msg;                
         } 
     }); 
    }; %>

    <header>
    <%- include('../partials/navbar'); %> 
    </header>
    <main>  
        <h1>Insira as informações de pagamento.</h1>
        <section class="container">
            <form id="pagamento_form" method="POST" action="/processar_pagamento">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" value="<%= valores.nome %>" class="<%= cssErro.nome %>">
                <span><%= msgErro.nome %></span>

                <label for="sobrenome">Sobrenome</label>
                <input type="text" id="sobrenome" name="sobrenome" value="<%= valores.sobrenome %>" class="<%= cssErro.sobrenome %>">
                <span><%= msgErro.sobrenome %></span>

                <label for="cpf">CPF do Titular</label>
                <input type="text" id="cpf" name="cpf" value="<%= valores.cpf %>" class="<%= cssErro.cpf %>">
                <span><%= msgErro.cpf %></span>

                <label for="cartao_numero">Número do Cartão</label>
                <input type="text" id="cartao_numero" name="cartao_numero" value="<%= valores.cartao_numero %>" class="<%= cssErro.cartao_numero %>">
                <span><%= msgErro.cartao_numero %></span>
                
                <article class="expiry-security-group">
                    <aside class="expiry-date-group">
                        <label for="cartao_validade">Data de Validade</label>
                        <input type="text" autocomplete="off" maxlength="5" id="cartao_validade" name="cartao_validade" placeholder="MM/AA" value="<%= valores.cartao_validade %>" class="<%= cssErro.cartao_validade %>">
                        <span><%= msgErro.cartao_validade %></span>
                    </aside>
                    <aside class="security-code-group">
                        <label for="cartao_cvv">Código de Segurança</label>
                        <input type="text" maxlength="3" id="cartao_cvv" name="cartao_cvv" value="<%= valores.cartao_cvv %>" class="<%= cssErro.cartao_cvv %>">
                        <span><%= msgErro.cartao_cvv %></span>
                    </aside>
                </article>
                <article>
                    <aside class="matrizinfotxt">
                    <aside class="infotxt">
                        <label for="plano">Plano Selecionado</label>
                        <h1><%= valores.selecionado %></h1>
                    </aside>
                        <aside class="infotxt">
                            <label for="valor">Valor</label>
                            <h1><%= valores.preco %> ao mês</h1>
                        </aside>
                    </aside>
                    <aside class="texte">
                        <input type="checkbox" id="permicao" name="permicao" />
                        <label for="permicao" class="permicao">Se a cobrança no crédito falhar, você nos autoriza a tentar no débito (caso seu cartão tenha essa opção)</label>
                    </aside>
                </article>
                <button type="submit">REALIZAR O PAGAMENTO</button>
            </form>
        </section>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>
