<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@oSxT_</title>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="icon" href="imagens/SportAgora.png">
</head>
<body>
    <header>
        <%- include('../partials/navbar'); %> 
    </header> 
    <main class="perfil1">
        <section class="bioPadrão">
            <article class="planoFundo">
                <% if (usuario.banner) { %>
                <img src="<%= usuario.banner %>" alt="planodefundo" class="planodefundo">
                <% }else{%>
                <img src="imagens/usuarios/default_background.jpg" alt="planodefundo" class="planodefundo">
                <%}%>
                <article class="perfilo">
                    <div class="perfil-container">
                    <% if (usuario.foto) { %>
                    <img src="<%= usuario.foto %>" alt="ftdePerfil" class="ftdePerfil">
                    <% }else{%>
                    <img src="imagens/usuarios/default_user.jpg" alt="ftdePerfil" class="ftdePerfil">
                    <%}%>
                    <a href="/editar-perfil" class="icone-editar" title="Editar perfil">
                    <img src="imagens/lapis-verde.png" alt="Editar">
                     </a>
                     </div>
                    <aside class="nomes">
                        <h2>    
                    <%= usuario.nome %></p>
                    </h2>
                        <h3>@<%= usuario.nome %></h3>
                    </aside>
                    <p><%= usuario.seguidores %> <b>seguidores</b> <%= usuario.seguindo %> <b>seguindo</b></p>
                </article>
                
            </article> 
            <article class="biografia">
                <aside>
                    <% if (usuario.bio) { %>
                    <h2 class="titulobiografia">Biografia</h2>
                    <p><%= usuario.bio %></p>
                    <% }else{%>
                        <br>
                        <p>Este usuário não inseriu uma Biografia</p>
                    <%}%>
                </aside>
                <aside class="criarpost">
                    <button class="criarpost-btn"onclick="location.href='/criar-post'">
                        + Crie Seu Post
                    </button>
                </aside>
                <!-- <aside class="linquis">
                    <h2>Links</h2>
                    <aside class="social">
                        <button class="twitter" onclick="">
                            <img src='imagens/twitterlogo.png' alt="Twitter">
                        </button>
                        <button class="instagram" onclick="">
                            <img src='imagens/instalogo.png' alt="Instagram">
                        </button>
                        <button class="youtube" onclick="">
                            <img src='imagens/youtube.png' alt="Youtube">
                        </button>
                    </aside>
                </aside> -->
            </article>
        </section>
        <hr size="2" width="99.8%" align="center" noshade>
        
    </main>
<%- include('../partials/footer'); %> 
</body>
</html>
