<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= usuario.nome %></title>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="/css/eventoUsuario.css">
    <link rel="icon" href="imagens/SportAgora.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="/js/notify.js"></script>
</head>
<body>
    <%if (dadosNotificacao) { %>
        <script>
            notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "right top")                    
        </script>
    <% } %>
    <header>
        <%- include('../partials/navbar'); %> 
    </header> 
    <main class="perfil1">
        <section class="bioPadrão">
            <article class="planoFundo">
                <% if (usuario.banner) { %>
                    <img src="<%= usuario.banner %>" alt="planodefundo" class="planodefundo">
                <% }else{%>
                    <img src="imagens/usuarios/default_background.jpg" alt="planodefundo" class="planodefundo">
                <%}%>
                <article class="perfilo">
                    
                    <aside class="perfil-container">
                        <% if (usuario.foto) { %>
                            <img src="<%= usuario.foto %>" alt="ftdePerfil" class="ftdePerfil">
                        <% }else{%>
                            <img src="imagens/usuarios/default_user.jpg" alt="ftdePerfil" class="ftdePerfil">
                        <%}%>
                        <a href="/editar-perfil" class="icone-editar" title="Editar perfil">
                            <img src="imagens/lapis-verde.png" alt="Editar">
                        </a>
                    </aside>
                    <aside class="nomes">
                        <h2>    
                            <%= usuario.nome %>
                        </h2>
                        <h3>Plano - <%
                switch(usuario.tipo.toLowerCase()) {
                    case "c":
                        tipoUsuario = "Comum";
                        break;
                    case "o":
                        tipoUsuario = "Organizador";
                        break;
                    case "a":
                        tipoUsuario = "Administrador";
                        break;
                    default:
                        tipoUsuario = "Tipo desconhecido";
                }
                %>
                <%-tipoUsuario%></h3>
                    </aside>
                    <% if(usuario.tipo.toLowerCase() == "organizador") {%>
                    <button class="btn-meuplano" onclick="location.href='/meu-plano'">Meu Plano</button>
                    <%}%>
                </article>  
            </article> 
            <article class="biografia">
                &nbsp;
            </article>
        </section>

        <hr size="2" width="99.8%" align="center" noshade>
        
        <section class="eventosParticipados">
            <article class="event-container">
                <section class="text-event">
                    <h1 class="event-title">Meus ingressos</h1>
                    <p class="event-subtitle">Acompanhe seus eventos e acessos</p>  
                </section>
                <button class="btn-criarevento" onclick="location.href='/meus-eventos'">Meus Eventos</button>
            </article>
            <section class="ingressos-event">
               <section class="eventos-container">
                <% if (ingressos.length === 0) { %>
                    <p>Você ainda não possui ingressos.</p>
                <% } else { %>
                    <% ingressos.forEach(ingresso => { %>
                    <section class="evento-container">
                        <article class="eventoInfo">
                        <img src="<%= ingresso.evento_foto %>" alt="Imagem do Evento" class="evento-img">
                        <h2 class="evento-nome"><%= ingresso.evento_nome %></h2>
                        <p class="ingresso-tipo">
                            Tipo de ingresso: <strong><%= ingresso.ingresso_meia ? 'Meia' : 'Inteira' %></strong>
                        </p>
                        <aside class="infoEvento">
                            <aside>
                            <i class="fi fi-rr-calendar"></i>
                            <span id="evento-data"><%= new Date(ingresso.evento_data_hora).toLocaleString('pt-BR', { dateStyle: 'short', timeStyle: 'short' }) %></span>
                            </aside>
                            <!-- <aside>
                            <i class="fi fi-rr-marker"></i>
                            <span id="evento-local">Barueri, SP</span>
                            </aside> -->
                        </aside>
                        <aside class="links">
                            <h3><a href="/sobre-ingresso?id=<%=ingresso.inscricao_id%>">Ver Pedido</a></h3>
                        </aside>
                        </article>
                    </section>
                    <% }) %>
                <% } %>
                </section>
            </section>
        </section>
    </main>
    <%- include('../partials/footer'); %> 
</body>
</html>
