<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@oSxT_</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script defer src="/js/perfil.js"></script>
    <script defer src="/js/script.js"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="imagens/SportAgora.png">
</head>
<body>
    <header>
        <%- include('../partials/navbar'); %> 
    </header> 
    <main class="perfil1">
        <section class="bioPadrão">
            <article class="planoFundo">
                <img src="imagens/planodefundo.jpeg" alt="planodefundo" class="planodefundo">
                <article class="perfilo">
                    <img src="imagens/pessoa2.png" alt="ftdePerfil" class="ftdePerfil">
                    <button class="editPerf" onclick="editPerfil()">Editar perfil</button>
                    <aside class="nomes">
                        <h2>Kaique Fialho</h2>
                        <h3>@oSxt_</h3>
                    </aside>
                    <p>194 <b>seguidores</b> 230 <b>seguindo</b></p>
                </article>
                
            </article> 
            <article class="biografia">
                <aside>
                    <h2 class="titulobiografia">Biografia</h2>
                    <p>Pellentesque sit amet elit eu nisl mattis suscipit. Donec placerat urna in massa suscipit, eu eleifend nisl <br>
                    lobortis. Donec tempus ante vel laoreet cursus. </p>
                </aside>
                <aside class="linquis">
                    <h2>Links</h2>
                    <aside class="social">
                        <button class="twitter" onclick="">
                            <img src='imagens/twitterlogo.png' alt="Twitter">
                        </button>
                        <button class="instagram" onclick="">
                            <img src='imagens/instalogo.png' alt="Instagram">
                        </button>
                        <button class="youtube" onclick="">
                            <img src='imagens/youtube.png' alt="Youtube">
                        </button>
                    </aside>
                </aside>
            </article>
        </section>
        <hr size="2" width="99.8%" align="center" noshade>
        <section class="editPerfil">
            <button class="salvar" onclick="salvar()">Salvar</button>
            <button class="fechar" onclick="salvar()">X</button>
            <article class="editinfo">
                <aside class="ftdoeditperfil">
                    <img src="imagens/pessoa2.png" alt="ftdePerfil" class="perfiledit">
                    <img src="imagens/normal_u112.png" alt="upload" class="upload">
                </aside>
                <aside class="inputisdoedit">
                    <aside>
                        <h2>Nome de usuário</h2>
                        <input type="text" name="" id="" placeholder="oSxt_">
                    </aside>
                    <aside>
                        <h2>Nome</h2>
                        <input type="text" name="" id="" placeholder="Kaique Sexy Fialho">
                    </aside>
                </aside>
            </article>
            <article class="socialedit">
                <aside class="linquis">
                    <h2>Links</h2>
                    <article class="social">
                        <button class="twitter" onclick="">
                            <img src='imagens/twitterlogo.png' alt="Twitter">
                        </button>
                        <button class="instagram" onclick="">
                            <img src='imagens/instalogo.png' alt="Instagram">
                        </button>
                        <button class="youtube" onclick="">
                            <img src='imagens/youtube.png' alt="Youtube">
                        </button>
                    </article>
                </aside>
                <aside class="bibi">
                    <h2>Biografia (156/200)</h2>
                    <textarea id="subject" name="subject" placeholder="Pellentesque sit amet elit eu nisl mattis suscipit. Donec placerat urna in massa suscipit, eu eleifend nisl lobortis. Donec tempus ante vel laoreet cursus."></textarea>
                </aside>
            </article>
            <article class="fundo">
                <aside>
                    <img src="imagens/planodefundo.jpeg" alt="planodefundo" class="planodefundoedit">
                    <img src="imagens/normal_u112.png" alt="upload" class="upload">
                </aside>
            </article>
        </section>
        <section class="opicoes">
            <article class="botoes">
                <button id="botaoPostagens" onclick="mudarAbaPerfil('postagens')">Postagens</button>
                <button id="botaoCurtidos" onclick="mudarAbaPerfil('curtidos')">Curtidos</button>
                <button id="botaoTime" onclick="mudarAbaPerfil('time')">Histórico</button>
            </article>
            <article class="adicionarPost" onclick="adicionar()">
                <input type="text" name="" id="adpost" placeholder="O que deseja escrever hoje?" onsubmit="adicionar()">
                <img src="imagens/adicionarimagem.png" alt="imagem" class="adimagem">
            </article>
        </section>
        <section class="postagensPerfil">
            <%- include('../partials/post'); %>
            <%- include('../partials/post'); %>
        </section>
        <section class="curtidosPerfil">
            <%- include('../partials/post'); %>
            <%- include('../partials/post'); %>
        </section>
        <section class="timePerfil">
            <article class="boxH">
                <a href="/infoevento" class="link-post">
                <img src="/imagens/evento2.jpeg" alt="imagem Evento" class="imagem-hist">
                <aside>
                    <h3 class="nome-post">Campeonato de Barueri - Basquete</h3>
                </aside>
                <p class="dados-hist"> <b>3º Lugar</b>  •  19/08/20204  •  Barueri </p>
            </a>
            </article>
            <article class="boxH">
                <a href="/infoevento" class="link-post">
                <img src="/imagens/evento1.jpeg" alt="imagem Evento" class="imagem-hist">
                <aside>
                    <h3 class="nome-post">Campeonato de Barueri - Futebol</h3>
                </aside>
                <p class="dados-hist"> <b>2º Lugar</b>  •  19/08/20204  •  Barueri </p>
                </a>
            </article>
            <article class="boxH">
                <a href="/infoevento" class="link-post">
                <img src="/imagens/evento4.jpeg" alt="imagem Evento" class="imagem-hist">
                <aside>
                    <h3 class="nome-post">Campeonato de Ping Pong</h3>
                </aside>
                <p class="dados-hist"> <b>1º Lugar</b>  •  19/08/20204  •  Carapicuiba </p>
                </a>
            </article>
            <article class="boxH">
                <a href="/infoevento" class="link-post">
                <img src="/imagens/evento3.jpeg" alt="imagem Evento" class="imagem-hist">
                <aside>
                    <h3 class="nome-post">Melhores manobras do skate</h3>
                </aside>
                <p class="dados-hist"> <b>4º Lugar</b>  •  19/08/20204  •  Osasco </p>
                </a>
            </article>
        </section>
    </main>
<%- include('../partials/footer'); %> 
</body>
</html>
