<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@oSxT_</title>
    <link rel="stylesheet" href="/css/perfil.css">
</head>
<body>
    <header>
        <%- include('../partials/navbar'); %> 
    </header> 
    <main class="perfil1">
        <section class="bioPadrão">
            <article class="planoFundo">
                <% if (usuario.banner) { %>
                <img src="<%= usuario.banner %>" alt="planodefundo" class="planodefundo">
                <% }else{%>
                <img src="imagens/usuarios/default_background.jpg" alt="planodefundo" class="planodefundo">
                <%}%>
                <article class="perfilo">
                    <div class="perfil-container">
                    <% if (usuario.foto) { %>
                    <img src="<%= usuario.foto %>" alt="ftdePerfil" class="ftdePerfil">
                    <% }else{%>
                    <img src="imagens/usuarios/default_user.jpg" alt="ftdePerfil" class="ftdePerfil">
                    <%}%>
                    <a href="/editar-perfil" class="icone-editar" title="Editar perfil">
                    <img src="imagens/lapis-verde.png" alt="Editar">
                     </a>
                     </div>
                    <aside class="nomes">
                        <h2>    
                    <%= usuario.nome %></p>
                    </h2>
                        <h3>@<%= usuario.nome %></h3>
                    </aside>
                    <p><%= usuario.seguidores %> <b>seguidores</b> <%= usuario.seguindo %> <b>seguindo</b></p>
                </article>
                
            </article> 
            <article class="biografia">
                <aside>
                    <% if (usuario.bio) { %>
                    <h2 class="titulobiografia">Biografia</h2>
                    <p><%= usuario.bio %></p>
                    <% }else{%>
                        <br>
                        <p>Este usuário não inseriu uma Biografia</p>
                    <%}%>
                </aside>
                <aside class="criarpost">
                    <button class="criarpost-btn" onclick="">
                        + Adicionar Post
                    </button>
                </aside>
                <aside class="linquis">
                    <h2>Links</h2>
                    <aside class="social">
                        <button class="twitter" onclick="">
                            <img src='imagens/twitterlogo.png' alt="Twitter">
                        </button>
                        <button class="instagram" onclick="">
                            <img src='imagens/instalogo.png' alt="Instagram">
                        </button>
                        <button class="youtube" onclick="">
                            <img src='imagens/youtube.png' alt="Youtube">
                        </button>
                    </aside>
                </aside>
            </article>
        </section>
        <hr size="2" width="99.8%" align="center" noshade>   
        <section class="opicoes">
            <article class="botoes">
                <button id="botaoPostagens" onclick="mudarAbaPerfil('postagens')">Postagens</button>
                <button id="botaoCurtidos" onclick="mudarAbaPerfil('curtidos')">Curtidos</button>
                <button id="botaoTime" onclick="mudarAbaPerfil('time')">Histórico</button>
            </article>
            <article class="adicionarPost" onclick="adicionar()">
                <input type="text" name="" id="adpost" placeholder="O que deseja escrever hoje?" onsubmit="adicionar()">
                <img src="imagens/adicionarimagem.png" alt="imagem" class="adimagem">
            </article>
        </section>
        <section class="postagensPerfil">
            <%- include('../partials/post'); %>
            <%- include('../partials/post'); %>
        </section>
        <section class="curtidosPerfil">
            <%- include('../partials/post'); %>
            <%- include('../partials/post'); %>
        </section>
        <section class="timePerfil">
            <article class="boxH">
                <a href="/infoevento" class="link-post">
                <img src="/imagens/evento2.jpeg" alt="imagem Evento" class="imagem-hist">
                <aside>
                    <h3 class="nome-post">Campeonato de Barueri - Basquete</h3>
                </aside>
                <p class="dados-hist"> <b>3º Lugar</b>  •  19/08/20204  •  Barueri </p>
            </a>
            </article>
            <article class="boxH">
                <a href="/infoevento" class="link-post">
                <img src="/imagens/evento1.jpeg" alt="imagem Evento" class="imagem-hist">
                <aside>
                    <h3 class="nome-post">Campeonato de Barueri - Futebol</h3>
                </aside>
                <p class="dados-hist"> <b>2º Lugar</b>  •  19/08/20204  •  Barueri </p>
                </a>
            </article>
            <article class="boxH">
                <a href="/infoevento" class="link-post">
                <img src="/imagens/evento4.jpeg" alt="imagem Evento" class="imagem-hist">
                <aside>
                    <h3 class="nome-post">Campeonato de Ping Pong</h3>
                </aside>
                <p class="dados-hist"> <b>1º Lugar</b>  •  19/08/20204  •  Carapicuiba </p>
                </a>
            </article>
            <article class="boxH">
                <a href="/infoevento" class="link-post">
                <img src="/imagens/evento3.jpeg" alt="imagem Evento" class="imagem-hist">
                <aside>
                    <h3 class="nome-post">Melhores manobras do skate</h3>
                </aside>
                <p class="dados-hist"> <b>4º Lugar</b>  •  19/08/20204  •  Osasco </p>
                </a>
            </article>
        </section>
    </main>
<%- include('../partials/footer'); %> 
</body>
</html>
