<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@oSxT_</title>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="/css/eventoUsuario.css">
    <link rel="icon" href="imagens/SportAgora.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="/js/notify.js"></script>
</head>
<body>
    <%if (dadosNotificacao) { %>
            <script>
                    notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "right top")                    
            </script>
    <% } %>
    <header>
        <%- include('../partials/navbar'); %> 
    </header> 
    <main class="perfil1">
        <section class="bioPadrão">
            <article class="planoFundo">
                <% if (usuario.banner) { %>
                <img src="<%= usuario.banner %>" alt="planodefundo" class="planodefundo">
                <% }else{%>
                <img src="imagens/usuarios/default_background.jpg" alt="planodefundo" class="planodefundo">
                <%}%>
                <article class="perfilo">
                    <div class="perfil-container">
                    <% if (usuario.foto) { %>
                    <img src="<%= usuario.foto %>" alt="ftdePerfil" class="ftdePerfil">
                    <% }else{%>
                    <img src="imagens/usuarios/default_user.jpg" alt="ftdePerfil" class="ftdePerfil">
                    <%}%>
                    <a href="/editar-perfil" class="icone-editar" title="Editar perfil">
                    <img src="imagens/lapis-verde.png" alt="Editar">
                     </a>
                     </div>
                    <aside class="nomes">
                        <h2>    
                    <%= usuario.nome %></p>
                    </h2>
                        <h3>@<%= usuario.nome %></h3>
                    </aside>
                </article>
                
            </article> 
            <article class="biografia">
                &nbsp;
            </article>
        </section>
        <hr size="2" width="99.8%" align="center" noshade>
        <section class="eventosParticipados">
            <%- include('../partials/eventoUsuario'); %>
        </section>
    </main>
<%- include('../partials/footer'); %> 
</body>
</html>
