<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/erro.css">
    <script src="js/passwordvalidator.js" defer></script>
    <link rel="stylesheet" href="css/passwordvalidator.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="icon" href="imagens/SportAgora.png">

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="/js/notify.js"></script>
    <script src="/js/login.js"></script>
</head>
<body onload="testarSenha()">
    <%
    let  erroValidacao =  {"nome":"","email":"", "repsenha":"","senha":""};
    let  msgErroPag =  {"nome":"","email":"","repsenha":"","senha":""};
    if(erros) {
        erros.errors.forEach(function(erro) {
            if (erro.path == "nome") {
                erroValidacao.nome = "erro",
                msgErroPag.nome = erro.msg
            }
            if (erro.path == "email") {
                erroValidacao.email = "erro",
                msgErroPag.email = erro.msg
            }
            if (erro.path == "repsenha") {
                erroValidacao.repsenha = "erro",
                msgErroPag.repsenha = erro.msg
            }
            if (erro.path == "senha") {
                erroValidacao.senha = "erro",
                msgErroPag.senha = erro.msg
            }
        })
    }; %>

    <% 
    let avisoErro = {"nome":"","email":"", "senha":"","repsenha":""};
    let msgErro = ""
        if(erros){
            erros.errors.forEach(function(erro){
                if(erro.path == "nome"){
                    avisoErro.nome = "erro";
                    msgErro += `* ${erro.msg} <br>`
                }
                if(erro.path == "email"){
                    avisoErro.email = "erro";
                    msgErro += `* ${erro.msg} <br>`
                }
                if(erro.path == "senha"){
                    avisoErro.senha = "erro";
                    msgErro += `* ${erro.msg} <br>`
                }
                if(erro.path == "repsenha"){
                    avisoErro.repsenha = "erro";
                    msgErro += `* ${erro.msg} <br>`
                }
            })

        }
        if(msgErro != ""){
                    %>
                        <script>
                            let msgErro ="<%= msgErro %>"
                            notify("Erro(s) no preenchimento", 
                                   "Verifique o(s) campo(s) <br> " + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"), 
                                   "error", "right bottom", 5000)                        
                        </script>
    <%} if (dadosNotificacao) { %>
            <script>
                    notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "right bottom")                    
            </script>
    <% } %>

    <header>
    <%- include('../partials/navbar'); %> 
    </header>
    <main class="main_logi">
        <img src='imagens/normal_u1.png' alt="pessoa" class="pessoa1">
        <section class="container6">
            <article class="buttonsForm">
                <h1>Bem-vindo!</h1>
                <a href="/login">Já possuo uma conta</a>
            </article>
        
            <form id="signup" method="post" action="/cadastrar">
                <input type="text" placeholder="Nome de usuário" name="nome" id="nome" value="<%= dados.nome  %>" class="<%= erroValidacao.nome %>"> 
                <span class="spanerro"><%= msgErroPag.nome %></span><br>

                <input type="email" placeholder="Email" name="email" id="email" value="<%= dados.email  %>" class="<%= erroValidacao.email %>"> 
                <span class="spanerro"><%= msgErroPag.email %></span><br>
                
                    <input type="password" placeholder="Senha" name="senha" id="senha" value="<%= dados.senha  %>" class="<%= erroValidacao.senha %>">
                    <button type="button" id="toggleSenha" class="toggle-senha-btn2" aria-label="Mostrar senha">👁️</button>

                    <div class="content">
                      <p>Senha deve conter</p>
                      <ul class="requirement-list">
                        <li>
                          <i class="fa-solid fa-circle"></i>
                          <span>ao menos 8 caracteres</span>
                        </li>
                        <li>
                          <i class="fa-solid fa-circle"></i>
                          <span>ao menos 1 número</span>
                        </li>
                        <li>
                          <i class="fa-solid fa-circle"></i>
                          <span>ao menos 1 letra minúscula</span>
                        </li>
                        <li>
                          <i class="fa-solid fa-circle"></i>
                          <span>ao menos 1 simbolo (@#$...)</span>
                        </li>
                        <li>
                          <i class="fa-solid fa-circle"></i>
                          <span>ao menos 1 letra maiúscula </span>
                        </li>
                      </ul>
                    </div>
                  
                <input type="password" placeholder="Repita a Senha" name="repsenha" id="repsenha" value="<%= dados.repsenha  %>" class="<%= erroValidacao.repsenha %>"> 
                <button type="button" id="ctoggleSenha" class="toggle-senha-btn3" aria-label="Mostrar senha">👁️</button>
                <span class="spanerro"><%= msgErroPag.repsenha %></span><br>
                
                <section class="divCheck">
                <input type="checkbox" />
                <span>Lembre minha senha</span>
                </section>

                <input type="submit" id="enviar_login" value="REGISTRAR">
            </form>

            <section class="outros">
                <button type="submit" class="google" onclick="google()">
                    <img src='imagens/google.png' alt="Google">
                </button>
                <button type="submit" class="facebook" onclick="facebook()">
                    <img src='imagens/facebooklogoo.png' alt="facebook">
                </button>
                <button type="submit" class="apple" onclick="apple()">
                    <img src='imagens/apple.png' alt="apple">
                </button>
            </section>
        </section>  
        <img src='imagens/normal_u0.png' alt="pessooaaa" class="pessoa2">
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>
