<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/erro.css">
    <script src="js/passwordvalidator.js" defer></script>
    <link rel="stylesheet" href="css/passwordvalidator.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body onload="testarSenha()">
    <%
    let  erroValidacao =  {"nome":"","email":"", "repsenha":"","senha":""};
    let  msgErro =  {"nome":"","email":"","repsenha":"","senha":""};
    if(erros) {
        erros.errors.forEach(function(erro) {
            if (erro.path == "nome") {
                erroValidacao.nome = "erro",
                msgErro.nome = erro.msg
            }
            if (erro.path == "email") {
                erroValidacao.email = "erro",
                msgErro.email = erro.msg
            }
            if (erro.path == "repsenha") {
                erroValidacao.repsenha = "erro",
                msgErro.repsenha = erro.msg
            }
            if (erro.path == "senha") {
                erroValidacao.senha = "erro",
                msgErro.senha = erro.msg
            }
        })
    }; %>

    <header>
    <%- include('../partials/navbar'); %> 
    </header>
    <main class="main_logi">    <!-- pq q eu fiz uma class pra main sendo q ja é main? -->
        <img src='imagens/normal_u1.png' alt="pessoa" class="pessoa1">
        <section class="container6">
            <article class="buttonsForm">
                <h1>Bem-vindo!</h1>
                <a href="/login">Já possuo uma conta</a>
            </article>
        
            <form id="signup" method="post" action="/cadastrar">
                <input type="text" placeholder="Nome" name="nome" id="nome" value="<%= dados.nome  %>" class="<%= erroValidacao.nome %>"> 
                <span class="spanerro"><%= msgErro.nome %></span><br>

                <input type="text" placeholder="Email" name="email" id="email" value="<%= dados.email  %>" class="<%= erroValidacao.email %>"> 
                <span class="spanerro"><%= msgErro.email %></span><br>
                
                    <input type="text" placeholder="Senha" name="senha" id="senha" value="<%= dados.senha  %>" class="<%= erroValidacao.senha %>">
                    <div class="content">
                      <p>Senha deve conter</p>
                      <ul class="requirement-list">
                        <li>
                          <i class="fa-solid fa-circle"></i>
                          <span>ao menos 8 caracteres</span>
                        </li>
                        <li>
                          <i class="fa-solid fa-circle"></i>
                          <span>ao menos 1 número</span>
                        </li>
                        <li>
                          <i class="fa-solid fa-circle"></i>
                          <span>ao menos 1 letra minúscula</span>
                        </li>
                        <li>
                          <i class="fa-solid fa-circle"></i>
                          <span>ao menos 1 simbolo (@#$...)</span>
                        </li>
                        <li>
                          <i class="fa-solid fa-circle"></i>
                          <span>ao menos 1 letra maiúscula </span>
                        </li>
                      </ul>
                    </div>
                  
                <input type="text" placeholder="Repita a Senha" name="repsenha" id="repsenha" value="<%= dados.repsenha  %>" class="<%= erroValidacao.repsenha %>"> 
                <span class="spanerro"><%= msgErro.repsenha %></span><br>
                
                <section class="divCheck">
                <input type="checkbox" />
                <span>Lembre minha senha</span>
                </section>

                <input type="submit" id="enviar_login" value="REGISTRAR">
            </form>

            <section class="outros">
                <button type="submit" class="google" onclick="google()">
                    <img src='imagens/google.png' alt="Google">
                </button>
                <button type="submit" class="facebook" onclick="facebook()">
                    <img src='imagens/facebooklogoo.png' alt="facebook">
                </button>
                <button type="submit" class="apple" onclick="apple()">
                    <img src='imagens/apple.png' alt="apple">
                </button>
            </section>
        </section>  
        <img src='imagens/normal_u0.png' alt="pessooaaa" class="pessoa2">
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>
